@charset "utf-8";
@keyframes move {
    0% {
        transform: rotateX(13deg) rotateY(0deg);
    }
    100% {
        transform: rotateX(13deg) rotateY(360deg);
    }
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("../img/bg.jpg");
    background-size: cover;
}

li {
    list-style: none;
}

.box {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    transform-style: preserve-3d;
    transform: rotateX(13deg);
    animation: move 5s linear infinite;
}

.box .minbox li {
    opacity: 0.4;
}

.box:hover .minbox li {
    opacity: 1;
}

.hidden {
    display: none;
}